/* author: Ganko Pi */

/* structure */
header {
	display: flex;
	justify-content: space-between;
}

main {
	display: flex;
	flex-wrap: wrap;
}

.dot {
	display: inline-block;
}

.categoryHeader {
	display: flex;
}

.newNotesContainer,
.notesWithDueDateContainer,
.notesWithoutDueDateContainer {
	display: flex;
	flex-direction: column;
	overflow-wrap: break-word;
}

.buttonsContainerNote {
	display: flex;
	justify-content: space-between;
}

/* sizing */
:root {
	--default-text-size: 1.1rem;

	--dot-size: 0.2rem;
}

html {
	font-size: var(--default-text-size);
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

header {
	padding: 0.5rem 3rem;
}

header .button {
	width: fit-content;
}

main {
	padding: 2rem 1rem;
	gap: 4rem 2rem;
}

img {
	height: 1rem;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0.3rem 1rem;
}

.button {
	padding: 0.5rem 1rem;
}

.dot {
	width: var(--dot-size);
	height: var(--dot-size);
	margin: 0 0.2rem;
	border-radius: 100%;
}

.dragArea {
	font-size: 0;
	padding: 0.4rem 0;
}

.category {
	width: 20rem;
	min-height: 15rem;
	padding-bottom: 0.25rem;
	border-width: 0.05rem;
}

.categoryHeader {
	padding: 0.5rem;
}

.categoryName {
	margin: auto;
	flex-grow: 1;
}

.addNote {
	margin: 0.15rem;
	border-radius: 0.05rem;
}

.newNotesContainer,
.notesWithDueDateContainer,
.notesWithoutDueDateContainer {
	padding: 0.25rem 0.5rem;
	gap: 0.5rem;
}

.newNotesContainer:empty,
.notesWithDueDateContainer:empty,
.notesWithoutDueDateContainer:empty {
	padding: 0 0.5rem;
}

.note {
	border-width: 0.25rem;
	border-radius: 0.15rem;
}

.note > hr {
	margin: 0;
}

.buttonsContainerNote img {
	width: 1rem;
	padding: 0.3rem 1rem;
}

.textArea {
	margin: 0;
	padding: 0.25rem;
}

.dueDate {
	padding: 0.25rem;
}

.dueDatePicker {
	border-width: 1px;
	border-radius: 0.1rem;
}

.placeholder {
	margin: 0;
	padding: 0;
}

/* colors light theme */
:root {
	--body-background-color: linen;
	--body-text-color: black;

	--header-background-color: hsl(231, 39%, 47%);
	--header-button-hovered-background-color: hsl(231, 52%, 43%);
	--header-text-color: white;

	--default-button-background-color: darkgrey;
	--default-button-hovered-background-color: hsl(0, 0%, 63%);

	--dot-color-dark: black;
	--dot-color-light: white;

	--category-background-color: bisque;

	--category-header-drag-area-background-color: hsl(231, 47%, 40%);

	--note-background-color: navajowhite;
	--note-border-color: hsl(36, 77%, 73%);

	--note-button-hovered-background-color: hsl(34, 72%, 79%);

	--due-date-background-color: white;
	--due-date-color: black;

	--disabled-due-date-background-color: hsl(0, 0%, 90%);
	--disabled-due-date-color: hsl(0, 0%, 20%);

	--placeholder-background-color: hsl(0, 0%, 88%);
}

body {
	background-color: var(--body-background-color);
	color: var(--body-text-color);
}

header {
	background-color: var(--header-background-color);
	color: var(--header-text-color);
}

header .button:hover:not(.disabled) {
	background-color: var(--header-button-hovered-background-color);
}

.dot {
	background-color: var(--dot-color-dark);
}

.category {
	background-color: var(--category-background-color);
	border-color: var(--header-background-color);
}

.category > .dragArea {
	background-color: var(--category-header-drag-area-background-color);
}

.category > .dragArea > .dot {
	background-color: var(--dot-color-light);
}

.categoryHeader {
	background-color: var(--header-background-color);
	color: var(--header-text-color);
}

.buttonsContainerCategoryHeader img:hover:not(.disabled) {
	background-color: var(--header-button-hovered-background-color);
}

.addNote {
	background-color: var(--default-button-background-color);
}

.addNote:hover:not(.disabled) {
	background-color: var(--default-button-hovered-background-color);
}

.note {
	background-color: var(--note-background-color);
	border-color: var(--note-border-color);
}

.note > .dragArea {
	background-color: var(--note-border-color);
}

.note > hr {
	border-color: var(--note-border-color);
}

.buttonsContainerNote img:hover:not(.disabled) {
	background-color: var(--note-button-hovered-background-color);
}

.dueDatePicker {
	background-color: var(--due-date-background-color);
	color: var(--due-date-color);
	border-color: var(--due-date-color);
}

.dueDatePicker:disabled {
	background-color: var(--disabled-due-date-background-color);
	color: var(--disabled-due-date-color);
	border-color: var(--disabled-due-date-color);
}

.placeholder {
	background-color: var(--placeholder-background-color);
}

/* other */
html {
	cursor: default;
}

.button {
	text-align: center;
}

.button:not(.disabled) {
	cursor: pointer;
}

.draggable .dragArea:not(.disabled) {
	cursor: move;
}

.dragArea {
	text-align: center;
}

.category {
	border-style: solid;
}

.note {
	border-style: solid;
	text-align: left;
}

.note > hr {
	border-style: solid;
}

.dueDatePicker {
	border-style: solid;
}
